* {
  background-color: FFFCF9;
  font-family: Helvetica, sans-serif;
}
#nav {
  font-family: Impact, Charcoal, sans-serif;
}
.landing{
  height: 100vh;
  background: linear-gradient(
      to right, 
      #06D6A0 0%, 
      #06D6A0 50%, 
      #FFD166 50%, 
      #FFD166 100%
    );
  }
