.landing{
  height: 100vh;
  background: linear-gradient(
      to right, 
      #06D6A0 0%, 
      #06D6A0 50%, 
      #FFD166 50%, 
      #FFD166 100%
    );
  }
header {
  background-color: FFFCF9;
}
